body {
  margin: 0;
  font-family: "Alef Hebrew", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Alef Hebrew", sans-serif;
}
html{
  font-family: "Alef Hebrew", sans-serif;

}
*{
  font-family: "Alef Hebrew", sans-serif;

}