.niceFont {
    font-family: "Alef Hebrew", sans-serif;
  }

  root {
    width: "500";
    height: "450";
  }
  image {

    background-image: "url(${ii})"; 
    background-repeat: 'no-repeat';

    background-size: 'contain, cover';
    background-position: 'center';
  }